<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restim Control App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script type="importmap">
    {
        "imports": {
            "axios":      "https://unpkg.com/axios@1.7.7/dist/axios.min.js",
            "vue":        "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js"
        }
    }
    </script>
</head>

<body data-bs-theme="dark">
  <div id="app" class="container my-5">
    <div v-if="!isLoggedIn">
      <!-- Welcome Page -->
      <h1>Welcome to Restim control panel!</h1>
      <div class="mb-3">
        <label for="authKey" class="form-label">Enter your Key</label>
        <input type="text" v-model="authKey" class="form-control" id="authKey" placeholder="Auth Key">
      </div>
      <button @click="login" class="btn btn-primary">Login</button>
    </div>

    <div v-else>
      <!-- Volume Control Page -->
      <div class="flex-row mb-3 align-items-baseline">
        <div class="d-inline-flex p-2">
          <p class="h1">Restim control panel</p>
        </div>
      </div>
      <div v-for="instance in instances" :key="instance.id" class="my-3 container border border-primary">
        <div class="row">
          <div class="col">
            <span class="h2 d-inline-block my-2" style="height: 60px;">
              <div class="status-indicator d-inline-block my-2">
                <span class="badge bg-success" v-if="instance.isConnected">Connected</span>
                <span class="badge bg-danger" v-if="!instance.isConnected" :title="instance.errorMessage">Not
                  Connected</span>
              </div>
              {{ instance.name }}
              <span v-if="instance.isConnected">: {{ Math.round(instance.volume * 1000) }}</span>
              <span v-else class="h6">({{ instance.errorMessage }})</span>
            </span>
            <div class="d-inline-block mx-2" v-if="instance.volume * 100 > 49">
              <img width="60" src="/static/cock-pulsing.gif" style="transform: scaleX(-1);"></img>
            </div>
            <div class="d-inline-block mx-2" v-if="instance.volume * 100 > 64">
              <img width="40" src="/static/leak.gif"></img>
            </div>
            <div v-if="instance.isConnected">
              <label title="Is playing funscript">Is playing funcsript
                <input type="checkbox" v-model="instance.isPlayingFunscript" />
              </label>
            </div>
          </div>
        </div>
        <div class="row my-2" v-if="instance.isConnected">
          <div class="col">
            <div class="progress" role="progressbar" v-bind:aria-valuenow="parseInt(Math.round(instance.volume * 100))"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                v-bind:style=" { width: parseInt(Math.round(instance.volume * 100))+'%' }" v-bind:class="{
              'bg-info': (instance.volume * 100) < 50, 
              'bg-warning': (instance.volume * 100) > 49,
              'bg-danger': (instance.volume * 100) > 64
            }">
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2" v-if="instance.isConnected">
          <fieldset class="col-6 col-md-6 col-sm-12 pb-2 border border-secondary">
            <legend>Volume</legend>
            <div class="row" v-if="!instance.paused">
              <button @click="setVolume(instance, Math.min(instance.newVolume + 0.001, instance.maxVolume))"
                :disabled="instance.newVolume >= instance.maxVolume || instance.fetching"
                class="btn btn-warning mx-1 col">{{ Math.round(Math.min(instance.newVolume + 0.001, instance.maxVolume)
                *
                1000) }}</button>
              <button @click="setVolume(instance, Math.min(instance.newVolume + 0.01, instance.maxVolume))"
                :disabled="instance.newVolume >= instance.maxVolume || instance.fetching"
                class="btn btn-warning mx-1 col">{{ Math.round(Math.min(instance.newVolume + 0.01, instance.maxVolume) *
                1000) }}</button>
              <button @click="setVolume(instance, Math.min(instance.newVolume + 0.05, instance.maxVolume))"
                :disabled="instance.newVolume >= instance.maxVolume || instance.fetching"
                class="btn btn-warning mx-1 col">{{ Math.round(Math.min(instance.newVolume + 0.05, instance.maxVolume) *
                1000) }}</button>
              <button @click="setVolume(instance, Math.min(instance.newVolume + 0.1, instance.maxVolume))"
                :disabled="instance.newVolume >= instance.maxVolume || instance.fetching"
                class="btn btn-warning mx-1 col">{{ Math.round(Math.min(instance.newVolume + 0.1, instance.maxVolume) *
                1000) }}</button>
            </div>
            <div class="row" v-if="!instance.paused">
              <button @click="setVolume(instance, Math.max(instance.newVolume - 0.001, instance.minVolume))"
                :disabled="instance.newVolume <= instance.minVolume || instance.fetching"
                class="btn btn-success mx-1 col">{{ Math.round(Math.max(instance.newVolume - 0.001, instance.minVolume)
                *
                1000) }}</button>
              <button @click="setVolume(instance, Math.max(instance.newVolume - 0.01, instance.minVolume))"
                :disabled="instance.newVolume <= instance.minVolume || instance.fetching"
                class="btn btn-success mx-1 col">{{ Math.round(Math.max(instance.newVolume - 0.01, instance.minVolume)
                *
                1000) }}</button>
              <button @click="setVolume(instance, Math.max(instance.newVolume - 0.05, instance.minVolume))"
                :disabled="instance.newVolume <= instance.minVolume || instance.fetching"
                class="btn btn-success mx-1 col">{{ Math.round(Math.max(instance.newVolume - 0.05, instance.minVolume)
                *
                1000) }}</button>
              <button @click="setVolume(instance, Math.max(instance.newVolume - 0.1, instance.minVolume))"
                :disabled="instance.newVolume <= instance.minVolume || instance.fetching"
                class="btn btn-success mx-1 col">{{ Math.round(Math.max(instance.newVolume - 0.1, instance.minVolume)
                *
                1000) }}</button>
            </div>
          </fieldset>
          <fieldset class="col-6 col-md-6 col-sm-12 pb-2 border border-secondary">
            <legend class="callout">Break</legend>

            <label for="spike_period_{{ instance.id }}" class="form-label row mx-1" v-if="!instance.paused">
              Length (seconds): {{ instance.break }}
            </label>
            <input type="range" class="form-range mx-2" id="break_{{ instance.id }}" min="1" step="1" max="30"
              v-model="instance.break" v-if="!instance.paused">
            <div class="row mx-1">
              <button v-if="!instance.paused" @click="pauseVolume(instance, instance.break)"
                :disabled="instance.volume < 0.05 || instance.fetching" class="btn btn-secondary mx-1 col">Pause {{
                instance.break }}</button>
              <button v-if="!instance.paused" @click="pauseVolume(instance, 0)"
                :disabled="instance.volume < 0.05 || instance.fetching" class="btn btn-danger mx-1 col">Stop</button>
              <button v-if="instance.paused" @click="resume(instance)" :disabled="instance.fetching"
                class="btn btn-danger mx-1 col">Resume ({{ instance.originalVolume * 1000 }})</button>
            </div>
          </fieldset>
        </div>
        <div class="row" v-if="instance.isConnected && !instance.isPlayingFunscript">
          <fieldset class="col border border-secondary">
            <legend>Axes</legend>
            <div class="row">
              <fieldset class="callout col-6 col-md-6 col-sm-12 border border-secondary-subtle pb-1"
                v-for="axis in instance.axes" :key="axis.name">
                <legend>{{ axis.name }}</legend>
                <template v-if="axis.frequency > 0">
                  <label for="axis_{{ axis.name }}" class="form-label">
                    Frequency (Hz): {{ (axis.frequency != axis.newFrequency) ? axis.frequency + ' => ' +
                    axis.newFrequency : axis.frequency }} (strokes per second)
                  </label>
                  <input type="range" class="form-range mx-1" id="axis_{{ axis.name }}_freq"
                    :min="axis.newFrequency > 5 ? 1 : axis.frequencyMin"
                    :step="axis.newFrequency > 5 ? 1 : axis.frequencyStep" :max="axis.frequencyMax"
                    v-model="axis.newFrequency" @change="updateAxis(instance, axis)">
                  <span class="d-block"> 1 every {{ (1/axis.newFrequency).toFixed(2) }} seconds</span>
                </template>
                <template v-else>
                  <label for="axis_{{ axis.name }}" class="form-label">
                    Value: {{ (axis.value != axis.newValue) ? axis.value + ' => ' + axis.newValue : axis.value }}
                  </label>
                  <input type="range" class="form-range mx-1" id="axis_{{ axis.name }}_value" :min="axis.valueMin"
                    :step="axis.step" :max="axis.valueMax" v-model="axis.newValue" @change="updateAxis(instance, axis)">
                </template>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <div class="row" v-if="instance.isConnected">
          <fieldset class="callout callout-danger col"
            v-if="!instance.paused && instance.maxSpike > 0 && instance.spike">
            <legend class="danger">Slap ({{ (instance.spike.intensity * 1000).toFixed(0) }} x {{
              instance.spike.size
              / 1000 }})
            </legend>
            <label for="spike_period_{{ instance.id }}" class="form-label">
              Speed (seconds): {{ instance.spike.period.toFixed(2) }}
            </label>
            <input type="range" class="form-range" id="spike_period_{{ instance.id }}" min="0.3" step="0.1" max="2"
              v-model="instance.spike.frequency">
            <label for="spike_strength_{{ instance.id }}" class="form-label">
              Intensity: {{ (instance.spike.intensity * 1000) }}
            </label>
            <input type="range" class="form-range" id="spike_intensity_{{ instance.id }}" min="0.1" step="0.05"
              :max="instance.maxSpike" v-model="instance.spike.intensity">
            <label for="spike_size_{{ instance.id }}" class="form-label">
              Size (seconds): {{ (instance.spike.size / 1000) }}
            </label>
            <input type="range" class="form-range" id="spike_size_{{ instance.id }}" min="50" step="10" max="500"
              v-model="instance.spike.size">
            <label for="spike_repetitions_{{ instance.id }}" class="form-label">
              Number (%): {{ instance.spike.repetitions }}
            </label>
            <input type="range" class="form-range" id="spike_repetitions_{{ instance.id }}" min="1" step="1" max="20"
              v-model="instance.spike.repetitions">
            <button @click="spikeVolume(instance, instance.spike)" :disabled="instance.fetching" class="btn mx-1 col"
              v-bind:class="{
                    'btn-success': (instance.spike.intensity * instance.spike.size) < 50, 
                    'btn-warning': (instance.spike.intensity * instance.spike.size) > 49,
                    'btn-danger': (instance.spike.intensity * instance.spike.size) > 100
                  }">
              Slap {{ instance.spike.intensity * instance.spike.size * 10 }} x {{ instance.spike.repetitions }}
            </button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="static/script.js"></script>
</body>

</html>